.sing-in .sing-in__wrap {
    max-width: 544px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid #e0e0e0;
}

.sing-in__btns {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e0e0e0;
}

.sing-in__btns .link {
    white-space: nowrap;
    width: 40%;
    text-align: center;
}

.sing-in .sbtn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #e0e0e0;
    padding: 22px 8px;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
    font-family: 'Bebas Neue';
    padding-top: 20px;
    color: #A8A8A8;
    width: 40%;
    background-color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
}



.sing-in .checked {
    border-bottom: 2px solid #313037;
    color: #313037;
    padding-top: 19px;

}

.sing-in .sing-in__form input {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #E7E7E7;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: block;
}

.sing-in .sing-in__form .email .email__title,
.password__title,
.forgot,
.name__title,
.confirm__title {
    display: block;
    width: 84%;
    margin: 0 auto;
}

.sing-in .btn {
    margin-top: 40px;
    margin-bottom: 40px;
}

.sing-in .pd-top {
    padding-top: 35px;
}