.book-item {
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 320px;
    cursor: pointer;
    position: relative;
}
.book-item + .book-item{
   margin: 50px 15px;
}
.book-item {
   margin: 50px 15px;
}


.book-item__title {
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 10px;
}
.book-item__subtitle {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 40px;
    color: #A8A8A8;
}

.book-item__details{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.book-item__img{
    max-width: 352px;
    height: 264px;
    background-color: #F4EEFD;
}

.book-item__botom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:320px) {
    .book-item{
        width: 266px;
    }
    
}