.order-page {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 90px);
}

.order-page__total {
    margin-left: auto;
    margin-bottom: 72px;
}

.order-page__total-price {
    font-size: 40px;
    font-weight: 500;
    width: 256px;
    text-transform: uppercase;
}

.order-page__total-price {
    display: flex;
    justify-content: space-between;
}

.order-page__total-btn {
    font-family: 'Bebas Neue';
    font-size: 24px;
    font-weight: 500;
    width: 256px;
    text-align: center;
    border: none;
    padding: 18px;
    margin-top: 25px;
    background-color: #313037;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.order-page__title {
    font-size: 56px;
    font-weight: 700;
    margin-top: 40px;
}

@media (max-width:768px) {
    .order-item__wrap{
        position: relative;
    }
    .cart-item__delete-icon{
        position: absolute;
        top: 0;
        right: 0;
        margin-left: 0;
    }
    .order-item__wrap .order-item__price{
        margin-top: 40px;
    }
}

@media (max-width:768px){
    .order-item__title{
        margin-top: 100px;
        margin-right: 0;
    }
    .order-item__wrap .book-cover{
        width: 60%;
    }
    .order-item__wrap .order-item__price{
        font-size: 28px;
    }
}