.info {
    color: #A8A8A8;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}

@media (max-width:320px){
    .footer .info{
        flex-direction: column;
        align-items: center;
        line-height: 45px;
    }
}