.profile-page__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 50px;
}

.profile-page__password {
    margin-top: 50px;
    margin-bottom: 72px;
}

.main-title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}

.sub-title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
}

.box {
    display: flex;
    align-items: flex-end;
}

.profile-page__name {
    margin-right: 32px;
}

.profile-page__new-pass {
    margin-right: 32px;
    margin-top: 16px;
}

.input {
    border: 1px solid #E7E7E7;
    padding: 15px 20px;
    width: 544px;
}

.profile-page__btns {
    margin-top: 50px;
    width: 600px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}

.profile-page__btns button {
    width: 256px;
    padding: 18px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    background-color: #fff;
    border: 1px solid #E7E7E7;
}
.profile-page__btns button:hover {
    background-color: #313037;
    color: #fff;
    transition: 1s;
}